.img-card {
    display: block;
    color: #333;
    font-size: 1rem;
    padding-top: 16px;
    padding-bottom: 16px;
    background-color: #fff; 
    &__content {
        padding: 16px 0;
    }
    img {
        width: 100%;
        margin-bottom: 32px;
    }
    h2 {
        text-align: center;
        & > span {
            display: block;
            font-size: 0.8125rem;
            font-weight: 400;
            text-transform: uppercase;
            letter-spacing: 1.5px;
            color: #7e7e7e;
            margin-bottom: 8px;
        }
    }
    .mock-link {
        color: $blue-light;
        font-weight: 300;
    }
}

@media (min-width: 768px){
    .img-card {
        transition: background-color 0.25s ease;
        &__content {
            padding: 16px;
        }
        &:hover {
            background-color: darken(#fff, 5%);
        }
    }
}