.dui-mobile-nav {
    &__item {
        margin-bottom: 14px;
    }
    &__title {
        color: $text-grey--dark;
        font-size: 16px;
        text-transform: uppercase;
        margin: 0;
        padding: 8px 12px;
        font-weight: bold;
        letter-spacing: 0.4px;
    }
    &__link {
        display: block;
        font-size: 18px;
        color: $text-grey;
        padding: 8px 12px;
        font-weight: bold;
        letter-spacing: 0.4px;
    }
    &__footer {
        display: block;
        a {
            display: inline-block;
            color: $text-grey;
            padding: 4px 12px;
        }
    }
}
