.dui-mobile-drawer {
    display: none;
}

@media (max-width: $screen-sm){
    .dui-mobile-drawer {
        background-color: $bg-black;
        display: inline-block;
        width: 300px;
        height: 100vh;
        padding: 12px 0 36px;
        position: fixed;
        top: 0;
        right: 100%;
        overflow: auto;
        z-index: 2;
    }
}