.dui-mobile-nav-overlay {
    background-color: rgba(0,0,0,0.3);
    display: block;
    position: fixed;
    height: calc(100vh - 45px);
    top: 45px;
    left: 0;
    right: 0;
    z-index: 1;
    transition-property: opacity;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    opacity: 0;
    .nav-open & {
        opacity: 1;
    }
}