html {
    font-size: 16px;
    line-height: 1.35;
}

a {
    text-decoration: none;
    cursor: pointer;
}

h2,
h3 {
    margin-bottom: 0.5rem;
    margin-top: 0;
}

h2 {
    font-weight: 200;
    font-size: 1.5rem;
}

h3 {
    font-weight: 300;
    color: #767676;
    font-size: 1.5625rem;
}

.page-intro {
    font-weight: 300;
    color: #767676;
    font-size: 1.125rem;
}

@media (min-width: 768px){

    a {
        text-decoration: none;
        cursor: pointer;
    }

    h2 {
        font-size: 2.5rem;
    }

    .page-intro {
        font-size: 1.25rem;
    }
}