[class^="col-"] {
    display: inline-block;
    padding-left: 16px;
    padding-right: 16px;
}

.col-1-xs {
    width: 8.333%;
}
.col-2-xs {
    width: 16.666%;
}
.col-3-xs {
    width: 24.999%;
}
.col-4-xs {
    width: 33.333%;
}
.col-5-xs {
    width: 41.666%;
}
.col-6-xs {
    width: 49.999%; 
}
.col-7-xs {
    width: 58.333%;
}
.col-8-xs {
    width: 66.666%;
}
.col-9-xs {
    width: 74.999%;
}
.col-10-xs {
    width: 83.333%;
}
.col-11-xs {
    width: 91.666%;
}
.col-12-xs {
    width: 100%;
}

.offset-1-xs {
    margin-left: 8.333%;
}
.offset-2-xs {
    margin-left: 16.666%;
}
.offset-3-xs {
    margin-left: 24.999%;
}
.offset-4-xs {
    margin-left: 33.333%;
}
.offset-5-xs {
    margin-left: 41.666%;
}
.offset-6-xs {
    margin-left: 49.999%; 
}
.offset-7-xs {
    margin-left: 58.333%;
}
.offset-8-xs {
    margin-left: 66.666%;
}
.offset-9-xs {
    margin-left: 74.999%;
}
.offset-10-xs {
    margin-left: 83.333%;
}
.offset-11-xs {
    margin-left: 91.666%;
}
.offset-12-xs {
    margin-left: 100%;
}

@media (min-width: 546px) {
    .col-1-sm {
        width: 8.333%;
    }
    .col-2-sm {
        width: 16.666%;
    }
    .col-3-sm {
        width: 24.999%;
    }
    .col-4-sm {
        width: 33.333%;
    }
    .col-5-sm {
        width: 41.666%;
    }
    .col-6-sm {
        width: 49.999%; 
    }
    .col-7-sm {
        width: 58.333%;
    }
    .col-8-sm {
        width: 66.666%;
    }
    .col-9-sm {
        width: 74.999%;
    }
    .col-10-sm {
        width: 83.333%;
    }
    .col-11-sm {
        width: 91.666%;
    }
    .col-12-sm {
        width: 100%;
    }
    .offset-1-sm {
        margin-left: 8.333%;
    }
    .offset-2-sm {
        margin-left: 16.666%;
    }
    .offset-3-sm {
        margin-left: 24.999%;
    }
    .offset-4-sm {
        margin-left: 33.333%;
    }
    .offset-5-sm {
        margin-left: 41.666%;
    }
    .offset-6-sm {
        margin-left: 49.999%; 
    }
    .offset-7-sm {
        margin-left: 58.333%;
    }
    .offset-8-sm {
        margin-left: 66.666%;
    }
    .offset-9-sm {
        margin-left: 74.999%;
    }
    .offset-10-sm {
        margin-left: 83.333%;
    }
    .offset-11-sm {
        margin-left: 91.666%;
    }
    .offset-12-sm {
        margin-left: 100%;
    }
}

@media (min-width: 768px) {
    .col-1-md {
        width: 8.333%;
    }
    .col-2-md {
        width: 16.666%;
    }
    .col-3-md {
        width: 24.999%;
    }
    .col-4-md {
        width: 33.333%;
    }
    .col-5-md {
        width: 41.666%;
    }
    .col-6-md {
        width: 49.999%; 
    }
    .col-7-md {
        width: 58.333%;
    }
    .col-8-md {
        width: 66.666%;
    }
    .col-9-md {
        width: 74.999%;
    }
    .col-10-md {
        width: 83.333%;
    }
    .col-11-md {
        width: 91.666%;
    }
    .col-12-md {
        width: 100%;
    }
    .offset-1-md {
        margin-left: 8.333%;
    }
    .offset-2-md {
        margin-left: 16.666%;
    }
    .offset-3-md {
        margin-left: 24.999%;
    }
    .offset-4-md {
        margin-left: 33.333%;
    }
    .offset-5-md {
        margin-left: 41.666%;
    }
    .offset-6-md {
        margin-left: 49.999%; 
    }
    .offset-7-md {
        margin-left: 58.333%;
    }
    .offset-8-md {
        margin-left: 66.666%;
    }
    .offset-9-md {
        margin-left: 74.999%;
    }
    .offset-10-md {
        margin-left: 83.333%;
    }
    .offset-11-md {
        margin-left: 91.666%;
    }
    .offset-12-md {
        margin-left: 100%;
    }
}

@media (min-width: 1024px) {
    .col-1-lg {
        width: 8.333%;
    }
    .col-2-lg {
        width: 16.666%;
    }
    .col-3-lg {
        width: 24.999%;
    }
    .col-4-lg {
        width: 33.333%;
    }
    .col-5-lg {
        width: 41.666%;
    }
    .col-6-lg {
        width: 49.999%; 
    }
    .col-7-lg {
        width: 58.333%;
    }
    .col-8-lg {
        width: 66.666%;
    }
    .col-9-lg {
        width: 74.999%;
    }
    .col-10-lg {
        width: 83.333%;
    }
    .col-11-lg {
        width: 91.666%;
    }
    .col-12-lg {
        width: 100%;
    }
    .offset-1-lg {
        margin-left: 8.333%;
    }
    .offset-2-lg {
        margin-left: 16.666%;
    }
    .offset-3-lg {
        margin-left: 24.999%;
    }
    .offset-4-lg {
        margin-left: 33.333%;
    }
    .offset-5-lg {
        margin-left: 41.666%;
    }
    .offset-6-lg {
        margin-left: 49.999%; 
    }
    .offset-7-lg {
        margin-left: 58.333%;
    }
    .offset-8-lg {
        margin-left: 66.666%;
    }
    .offset-9-lg {
        margin-left: 74.999%;
    }
    .offset-10-lg {
        margin-left: 83.333%;
    }
    .offset-11-lg {
        margin-left: 91.666%;
    }
    .offset-12-lg {
        margin-left: 100%;
    }
}