.hero {
    background: url(../images/home-bg-01.svg) no-repeat center center;
    background-size: cover;
    padding-top: 180px;
    padding-bottom: 250px;
}

.hero-content {
    display: flex;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    &__col {
        max-width: 41.666%;
        margin-left: 16.666%;
        padding: 0 16px;
        h2, p {
            font-size: 46px;
            font-weight: 100;
            color: #fff;
            margin: 0;
        }
        p {
            font-size: 21px;
            margin-bottom: 8px;
        }
        .btn-container {
            margin-top: 32px;
            margin-bottom: 16px;
        }
        .link-w-icon {
            display: inline-block;
            color: #fff;
            font-weight: 100;
            font-size: 13px;
            margin-top: 8px;
            i {
                margin-right: 3px;
            }
        }
    }
}

@media (max-width: 768px) {
    .hero-content {
        &__col {
            h2 {
                font-size: 30px;
            }
        }
    }
}

@media (max-width: 675px) {
    .hero {
        background: url(../images/home-bg-small-02.svg) no-repeat center center;
        background-size: cover;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .hero-content {
        &__col {
            max-width: 80%;
            margin-left: 0;
            h2 {
                font-size: 30px;
            }
        }
        .btn {
            font-size: 12px;
            padding: 12px 12px 8px;
        }
    }
}