.main-content {
    .nav-open & {
        transform: translateX(0px);
    }
}

@media (max-width: $screen-sm){
    .main-content {
        flex-grow: 1;
        position: relative;
        transition: transform 0.3s ease;
        .nav-open & {
            transform: translateX(300px);
        }
    }
}