.main-section {
    padding-top: 32px;
    padding-bottom: 32px;
    position: relative;
    &::after {
        content: '';
        display: block;
        margin: 0 auto;
        border-bottom: dashed 1px #ddd;
        max-width: 90%;
        position: absolute;
        bottom: 1px;
        right: 0;
        left: 0;
    }
    &:last-of-type {
        &::after {
            display: none;
        }
    }
}