.dui-nav {
    display: flex;
    min-height: 45px;
    &__item {
        display: block;
        color: $white;
        position: relative;
        &:last-of-type > a {
            border-right: 1px solid lighten($black, 7%);
        }
    }
    &__link {
        border-left: 1px solid lighten($black, 7%);
        background-color: $black;
        display: inline-flex;
        align-items: center;
        color: inherit;
        font-size: 14px;
        min-height: 45px;
        padding: 0 15px;
        &:hover {
            background: lighten($black, 7%);
        }
        &--blue {
            background-color: $blue;
            transition: background-color 0.2s ease;
            &:hover {
                background: darken($blue, 5%);
            }
        }
    }
    
}

.dui-sub-nav-list {
    display: block;
    list-style: none;
    position: absolute;
    top: 100%;
    left: 0;
    margin: 0;
    padding: 0;
    &__item {
        display: block;
        padding: 0;
    }
    &__item > a {
        background-color: $black;
        display: block;
        color: $text-grey;
        font-size: 14px;
        padding: 16px 12px;
        white-space: nowrap;
        min-width: 250px;
         &:hover {
            background: lighten($black, 7%);
        }
    }
}