.dui-header {
    background: $bg-black;
    &__container {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        padding: 0 0 0 16px;
    }
    &__logo {
        display: inline-flex;
        align-items: center;
        font-size: 18px;
        font-weight: 500;
        color: $text-grey;
        letter-spacing: 0.4px;
        min-height: 45px;
        strong {
            display: inline-block;
            margin-right: 5px;
            font-size: 20px;
            font-style: italic;
        }
    }
    &__navigation {
        display: flex;
        margin-left: auto;
    }
    .dui-icon-btn {
        display: none;
    }
}

@media (max-width: $screen-sm){
    .dui-header {
        &__container {
            padding: 0 0 0 8px;
        }
        &__navigation {
            display: none;
        }
        .dui-icon-btn {
            display: inline-block;
            background-color: $black;
            color: $text-grey;
            &:hover {
                background-color: lighten($black, 7%);
            }
        }
    }
}

