<header class="dui-header">
    <div class="dui-header__container">
        <button id="dui-menu-toggle" class="dui-icon-btn" aria-label="main navigation">
            <i class="fas fa-bars"></i>
        </button>
        <a class="dui-header__logo"><strong>Zurb</strong> Foundation</a>
        <div class="dui-header__navigation">
            <nav class="dui-nav">
                <div class="dui-nav__item" data-hover="parent">
                    <a  href="#" class="dui-nav__link">Showcase</a>
                    <ul class="dui-sub-nav-list" data-hover="child">
                        <li class="dui-sub-nav-list__item"><a href="#">Foundation showcase</a></li>
                        <li class="dui-sub-nav-list__item"><a href="#">Brands</a></li>
                        <li class="dui-sub-nav-list__item"><a href="#">Case Studies</a></li>
                    </ul>
                </div>
                <div class="dui-nav__item">
                    <a href="#" class="dui-nav__link">Develop</a>
                </div>
                <div class="dui-nav__item">
                    <a href="#" class="dui-nav__link">Tutorials</a>
                </div>
                <div class="dui-nav__item">
                    <a href="#" class="dui-nav__link">Get Involved</a>
                </div>
                <div class="dui-nav__item" data-hover="parent">
                    <a href="#" class="dui-nav__link">Docs</a>
                    <ul class="dui-sub-nav-list" data-hover="child">
                        <li class="dui-sub-nav-list__item"><a href="#">Foundation showcase</a></li>
                        <li class="dui-sub-nav-list__item"><a href="#">Brands</a></li>
                        <li class="dui-sub-nav-list__item"><a href="#">Case Studies</a></li>
                    </ul>
                </div>
                <div class="dui-nav__item">
                    <a href="#" class="dui-nav__link dui-nav__link--blue">Getting Started</a>
                </div>
            </nav>
        </div>
    </div>
</header>
