<div class="dui-mobile-drawer">
    <nav class="dui-mobile-nav">
        <div class="dui-mobile-nav__item">
            <h3 class="dui-mobile-nav__title">Foundation</h3>
            <a  href="#" class="dui-mobile-nav__link">Home</a>
        </div>
        <div class="dui-mobile-nav__item">
            <h3 class="dui-mobile-nav__title">Foundation Showcase</h3>
            <a  href="#" class="dui-mobile-nav__link">Brands</a>
            <a  href="#" class="dui-mobile-nav__link">Case Studies</a>
            <a  href="#" class="dui-mobile-nav__link">Blog</a>
        </div>
        <div class="dui-mobile-nav__item">
            <h3 class="dui-mobile-nav__title">Foundation for Sites</h3>
            <a href="#" class="dui-mobile-nav__link">Home</a>
            <a href="#" class="dui-mobile-nav__link">Getting Started</a>
            <a href="#" class="dui-mobile-nav__link">Download</a>
        </div>
        <div class="dui-mobile-nav__item">
            <h3 class="dui-mobile-nav__title">Foundation for Emails</h3>
            <a href="#" class="dui-mobile-nav__link">Home</a>
            <a href="#" class="dui-mobile-nav__link">Getting Started</a>
            <a href="#" class="dui-mobile-nav__link">Download</a>
        </div>
        <div class="dui-mobile-nav__item">
            <h3 class="dui-mobile-nav__title">Develop</h3>
            <a href="#" class="dui-mobile-nav__link">HTML Templates</a>
            <a href="#" class="dui-mobile-nav__link">Resources</a>
            <a href="#" class="dui-mobile-nav__link">Building Blocks</a>
        </div>
        <div class="dui-mobile-nav__item">
            <h3 class="dui-mobile-nav__title">Tutorials</h3>
            <a href="#" class="dui-mobile-nav__link">Tutorials</a>
            <a href="#" class="dui-mobile-nav__link">Lessons</a>
        </div>
    </nav>
    <nav class="dui-mobile-nav__footer">
        <a href="#">Zurb</a>
        <a href="#">About</a>
        <a href="#">Blog</a>
        <a href="#">Contact</a>
    </nav>
</div>