.btn {
    display: inline-block;
    border-radius: 3px;
    background-color: #1583cc;
    padding: 16px;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.2s ease;
    &:hover {
        background-color: $blue;
    }
    &__large {
        font-size: 20px;
    }
}

.btn-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    &__split {
        justify-content: space-between;
    }
    &__end {
        justify-content: flex-end;
    }
    &__center {
        justify-content: center;
    }
}