.dui-icon-btn {
    border-radius: 50%;
    background-color: transparent;
    border: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 42px;
    width: 42px;
    font-size: 18px;
    padding: 0;
    outline: none;
    transition: background-color 0.25s ease;
    cursor: pointer;
    .fas {
        color: inherit;
    }
}